<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <%= link_to 'Traceapp', root_path, class: "navbar-brand" %>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <%= link_to "About Us", home_about_path, class:"nav-link"%>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Checkin Link</a>
                </li>
                <% if logged_in? %>
                <li class="nav-item">
                    <a class="nav-link" href="/">Log out</a>
                </li>
                <% else %>
                <li class="nav-item">
                    <a class="nav-link" href="/signin">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>