<!-- CSS only -->
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <%= render 'home/header' %>
    
    <h1>About Us</h1>
    <p>
        Traceapp is a contact tracing app you can use to get vistor to record their information and temperature at your location. 
        If you are a location in need of a contact tracing solution, sign up for an easy tracing solution! </p>
</body>